@font-face {
  font-family: 'Supply';
  src: url('~assets/fonts/Supply-Regular.woff2') format('woff2'), url('~assets/fonts/Supply-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Supply';
  src: url('~assets/fonts/Supply-Bold.woff2') format('woff2'), url('~assets/fonts/Supply-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('~assets/fonts/CenturyGothic.woff2') format('woff2'), url('~assets/fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
