@import "~variables";

#app {
  height: 100%;
}

.index {
  height: 100%;
}

.invalid {
  color: #ff0000;
}

.valid {
  border-color: #00dc7c;
}

.link {
  cursor: pointer;
  color: $color_yellow;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border .5s;
    &:hover {
      transition: border.5s;
      border-color: $color_yellow;
    }
}

.checkboxTable{
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    border: 2px solid #e9bd24;
    border-radius: 50%;
    transition: background .5s;
  }

  &:checked + label:before {
    background: #e9bd24;
  }
}

.dropdown {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  &__option {
    width: 10px !important;
  }
}

.table {
  $tableHeight: 62px;
  width: 100%;
  border-collapse: collapse;
  &__container {
    overflow: auto;
  }
  &__header {
    height: $tableHeight;
    border-bottom: 1px solid #032537;
    text-align: left;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 700;
  }

  &__row {
    position: relative;
    height: $tableHeight;
    border-bottom: 1px solid #023b59;
  }

  &__cell {
    padding: 0 5px;
    white-space: nowrap;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 41px;
}
