.gm-style-cc {
  display: none;
}

.grid-stack-item-content {
    border: 1px solid #182235;
}

.uppy-DashboardTabs, .uppy-Dashboard-browse, .uppy-DashboardItem-edit, .uppy-DashboardItem-status, .uppy-StatusBar-actionBtn, .uppy-DashboardItem-progress {
  display: none;
}

.uppy-Dashboard-files, .uppy-Dashboard-filesContainer, .uppy-Dashboard-innerWrap, .uppy-Dashboard-inner, .uppy-Dashboard {
  height: 140px;
}

.uppy-DashboardItem {
  width: 80px;
  margin-left: 10px;
  margin-top: 10px;
}

.uppy-Dashboard-inner > .uppy-Dashboard-close {
  display: none;
}

.uppy-Dashboard-bgIcon {
  display: flex;
  height: 100%;
  & > .UppyIcon {
    display: none;
  }
}

.uppy-Dashboard-dropFilesTitle {
  opacity: 0.5;
  font-size: 20px;
  font-weight: 300;
  margin: auto;
}

.uppy-Dashboard-files {
  display: flex;
  &--noFiles {
    display: block;
  }
}

.uppy-DashboardItem-action {
  position: relative;
}

.uppy-DashboardItem-remove {
  position: absolute;
  z-index: 10;
  top: -75px;
  left: 55px;
  $size: 25px;
  width: $size;
  height: $size;
  padding: 0;
  background-color: transparent;
  & path {
    &:nth-of-type(1) {
      display: none;
    }
    &:nth-of-type(2) {
      fill: #f33a3a;
    }
  }
}

.uppy-DashboardItem-previewInnerWrap {
  height: 50px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
  background: url('~assets/images/file.png') no-repeat;
  background-color: transparent !important;
  & img {
    display: none;
  }
}
