$color_blue: #02344E;
$color_daintree: #02293f;
$color_tangaroa: #032537;
$color_summersky: #42B6F6;
$color_green: #7ed321;
$color_malachite: #7ed321;
$color_sulu: #b8e986;
$color_yellow: #e9bd24;
$color_energy: #f3de54;
$color_red: #f33a3a;
$color_turquoise: #32f7bd;

$default_spacing: 26px;
$sidebar_width: 280px;
$sidebar_speed: 0.15s;
$toolbar_width: 55px;
$leftSide_width: $sidebar_width + $toolbar_width;
