// New
$background__blue: #004dff;
$background__blue_white: #2566fd;

$background__white: #ffffff;
$background__red: #f34856;
$background__green: #2acc97;
$background__grey_white: #f1f1f1;
$background__grey_dark: #e8e8e8;

$fill__white: #ffffff;
$fill__red: #f34856;
$fill__blue: #004dff;
$fill__blue_white: #3f79f7;
$fill__green: #00ce7d;
$fill__grey: #9b9b9b;
$fill__yellow: #ffc600;

$color__white: #ffffff;
$color__black: #000000;
$color__blue: #004dff;
$color__green: #2acc97;
$color__red: #f34856;
$color__grey: #9b9b9b;

$background__shadow__gradient__to__right: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);

// transition

$transition__sidebarAction: margin-left .5s ease-out;

// Old
$color_blue: #02344E;
$color_daintree: #02293f;
$color_tangaroa: #032537;
$color_summersky: #42B6F6;
$color_green: #7ed321;
$color_malachite: #7ed321;
$color_sulu: #b8e986;
$color_yellow: #e9bd24;
$color_energy: #f3de54;
$color_red: #f33a3a;
$color_turquoise: #32f7bd;
$color_turquoise--light: #31edd7;
$color_white: #ffffff;
$color_black: #000000;
$color_grey: #a1a1a1;


$background__shadow__gradient__to__top: linear-gradient(180deg, rgba(1, 30, 46, 0) 0%, rgba(1, 30, 46, 1) 100%);
$background__shadow__gradient__to__bottom: linear-gradient(0deg, rgba(1, 30, 46, 0) 0%, rgba(1, 30, 46, 1) 100%);

$default_spacing: 26px;
$sidebar_width: 280px;
$sidebar_speed: 0.15s;
$toolbar_width: 55px;
$leftSide_width: $sidebar_width + $toolbar_width;

$input-transition: border-color .3s;
$input-font-size: 14px;
$input-line-height: 18px;
$input-border-color: #034468;
$input-option-color: #555;
$input-option-highlight-color: #000;
$input-border: 1px solid $input-border-color;
$input-padding: 7px 15px;
$input-border-color-highlight: #42b6f6;
$input-height: 32px;
$input-placeholder-color: #044568;
$input-valid-color: #7dd320;
$input-error-color: #f33a3a;
